version: '3.8'

services:
  gateway:
    container_name: manga_love_gateway
    image: nginx:1.21.6-alpine
    ports:
      - "80:80"
    networks:
      - love
    volumes:
      - ./packages/gateway/config.nginx:/etc/nginx/conf.d/default.conf
    env_file:
      - ./.env
    depends_on:
      - api
      - storefront

  api:
    container_name: manga_love_api
    build:
      context: ./packages/api
      dockerfile: ../../Dockerfile
    command: npm run start:dev
    stdin_open: true
    volumes:
      - ./packages/api:/app
      - ./packages/api/node_modules:/app/node_modules
    networks:
      - love
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    container_name: manga_love_psql
    image: postgres:14.2-alpine
    volumes:
      - data_psql:/var/lib/postgresql/data
    networks:
      - love
    env_file:
      - ./.env

  storefront:
    container_name: manga_love_storefront
    build:
      context: ./packages/storefront
      dockerfile: ../../Dockerfile
    command: npm run dev -- --hostname 0.0.0.0
    stdin_open: true
    volumes:
      - ./packages/storefront:/app
      - ./packages/storefront/node_modules:/app/node_modules
    ports:
      - 24678:24678
    networks:
      - love
    env_file:
      - ./.env

volumes:
  data_psql:
    driver: local

networks:
  love:
