@import "./offsets.css";

/* Need to set styles for nuxt wrappers */
/* stylelint-disable selector-max-specificity */

*, *::before, *::after { box-sizing: border-box }

html,
body,
#__nuxt,
#__layout {
    height: 100%
}

:root {
    --font-serif: "Merriweather", serif;
    --font-sans: "Nunito Sans", sans-serif;
}

body {
    font-family: var(--font-sans);
    font-weight: 600;
}

.ml-width--full {
    width: 100%;
}
