@import "./offsets.css";

/* Need to set styles for nuxt wrappers */
/* stylelint-disable selector-max-specificity */

*, *::before, *::after { box-sizing: border-box }

html,
body,
#__nuxt,
#__layout {
    height: 100%
}

#__layout {
    display: flex;
    flex-direction: column;
}

:root {
    --font-serif: "Merriweather", serif;
    --font-sans: "Nunito Sans", sans-serif;
}

body {
    font-family: var(--font-sans);
    font-weight: 600;
}

.ml-width--full {
    width: 100%;
}

.ml-height--full {
    height: 100%;
}

.ml-flex {
    display: flex;
}

.ml-flex--column {
    flex-direction: column;
}

.ml-flex--grow {
    flex-grow: 1;
}

.ml-text--uppercase {
    text-transform: uppercase;
}
